{{#*inline "page"}}
<main>
    <table class="table-auto max-w-full text-2xl">
      <tbody>
      {{#each posts}}
          <tr>
            <td class="px-6 py-3 text-gray-500">{{{ index }}}</td>
            <td><a href="{{{ link }}}">{{{ title }}}</a></td>
          </tr>
      {{/each}}
      </tbody>
    </table>
</main>
{{/inline}}

{{> layout }}
