<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cydonia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Empowering everyone to build reliable and efficient software.">
  </head>
  <body>
     {{> @partial-block }}
  </body>
</html>
