{{#*inline "page"}}
<script src="/highlight.js"></script>
<link rel="stylesheet" href="/highlight.css">
<article class="prose dark:prose-invert px-8 pt-12 max-w-5xl mx-auto">
    <h1>{{ post.title }}</h1>
    {{{ post.content }}}
</article>
<script>
 hljs.highlightAll()
</script>
{{/inline}}

{{> layout }}
